@mixin list-reset (
  $padding-left: 0,
  $margin-top: 0,
  $margin-bottom: 0,
  $list-style: none
) {
  padding-left: $padding-left;
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  list-style: $list-style;
}

@mixin section-heading {
  margin-top: 0;
  margin-bottom: 0;
  color: $primary-font-color;
  text-align: center;
  font-family: $primary-font-regular;
  font-size: clamp(115px, 9.41vw, 212px);
  font-weight: 300;
  letter-spacing: 8.48px;
  text-transform: uppercase;
  @media screen and (max-width: 1200px){
    font-size: clamp(60px, 9vw, 150px);
    letter-spacing: 6px;
  }
  @media screen and (max-width: 768px){
    font-size: clamp(40px, 7.81vw, 60px);
    letter-spacing: 3.2px;
  }
}