// Fonts

$primary-font-light: 'Gilroy Light', sans-serif;
$primary-font-regular: 'Gilroy Regular', sans-serif;
$primary-font-medium: 'Gilroy Medium', sans-serif;
$primary-font-semibold: 'Gilroy Semibold', sans-serif;
$primary-font-bold: 'Gilroy Bold', sans-serif;
$secondary-font-regular: 'Inter', sans-serif;

// Colors

$primary-bg-color: #F5F3EA;
$secondary-bg-color: #252525;

$primary-font-color: #252525;