body {
  background-color: $primary-bg-color;
}

.wrapper {
  max-width: 1780px;
  margin-left: auto;
  margin-right: auto;
   padding-left: 30px;
   padding-right: 30px;
  @media screen and (max-width: 1200px){
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (max-width: 768px){
    padding-left: 10px;
    padding-right: 10px;
  }

  &--hero {
    max-width: 1920px;
    padding-left: 0;
    padding-right: 0;
  }

  &--about {
    max-width: 1920px;
    padding-left: 70px;
    padding-right: 0;
    @media screen and (max-width: 1200px){
      padding-left: 0;
    }
  }
}