@font-face {
  font-family: 'Gilroy Light';
  src: url('../../fonts/gilroy-light.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy Regular';
  src: url('../../fonts/gilroy-regular.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy Medium';
  src: url('../../fonts/gilroy-medium.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy Semibold';
  src: url('../../fonts/gilroy-semibold.woff') format('woff');
}
@font-face {
  font-family: 'Gilroy Bold';
  src: url('../../fonts/gilroy-bold.woff') format('woff');
}
