.footer-wrapper{
    @media screen and (max-width: 1200px) {
        padding: 20px 30px;
    }
}

.page-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0;
    }
}

.page-footer__text{
    color: #333;
    font-family: $primary-font-regular;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;

    &--accent{
        color: #333;
        font-family: $primary-font-semibold;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.page-footer__list{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.item__link{
    display: block;
    width: 30px;
    height: 30px;

    &--facebook{
        background-image: url(../../images/svg/facebook.svg);
    }

    &--twitter{
        background-image: url(../../images/svg/twitter.svg);
    }

    &--linkedin{
        background-image: url(../../images/svg/linkedin.svg);
    }

    &--dribble{
        background-image: url(../../images/svg/dribble.svg);
    }
}
