.page-header {
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (max-width: 768px){
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  @media screen and (max-width: 768px){
    padding-bottom: 0;
  }
}

.header-nav__logo-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;

  &--image {
    width: 91px;
    height: 35px;
    color: #394149;
    margin-right: 10px;
  }
}

.header-nav__logo-text {
  color: #000;
  font-family: $primary-font-regular;
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -0.7px;
  @media screen and (max-width: 768px){
    display: none;
  }

  &--accent {
    color: #000;
    font-family: $primary-font-medium;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: -0.7px;
    text-transform: uppercase;
  }

  &--trademark {
    color: #000;
    font-family: $primary-font-regular;
    font-size: 25px;
    font-weight: 300;
  }
}

.header-nav__menu {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: $primary-font-color;
  font-family: $primary-font-semibold;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.page-header__title {
  margin-top: 30px;
  margin-bottom: 30px;
  color: $primary-font-color;
  font-family: $primary-font-regular;
  font-size: clamp(120px, 10vw, 150px);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;

  @media screen and (max-width: 1200px){
    font-size: clamp(60px, 9vw, 120px);
  }
  @media screen and (max-width: 768px){
    font-size: clamp(40px, 5.9vw, 57px);
  }
  &--accent {
    display: block;
    font-family: $primary-font-semibold;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.page-header__link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28px;
  text-decoration: none;
  cursor: pointer;
}

.section-hero__photo {
  display: block;
  width: 100%;
  height: 956px;
  object-fit: cover;

  @media screen and (max-width: 768px){
    height: 638px;
  }
}