.tasks{
    background-image: url(../../images/what-i-do-bgd.jpg);
    background-size: 50% 100%;
    border-bottom: 1px solid #252525;;

    @media screen and (max-width: 1200px) {
        background-size: 100% 991px;
        padding-top: 991px;
    }

    @media screen and (max-width: 768px) {
        background-size: 100% 478px;
        padding-top: 478px;
    }
}

.tasks-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.tasks-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 100px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 111px;
    width: 50%;

    @media (max-width: 1200px){
       padding-top: 40px;
       padding-bottom: 40px;
       padding-left: 0;
       width: 100%;
       gap: 40px;
    }

    @media (max-width: 768px){
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0;
        width: 100%;
        gap: 30px;
     }
}

.tasks__title{
    color: $primary-font-color;
    text-align: center;
    font-size: clamp(80px, 7.9vw,150px);
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 100%;

    @media (max-width: 1200px){
    }
}

.content-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content__title{
    color: #000;
    font-family: $primary-font-semibold;
    font-size: 44px;
    line-height: 48px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;

        &--first::before{
            content: "01";
            color: #000;
            font-family: $primary-font-light;
            font-size: 44px;
            font-weight: 400;
            line-height: 48px;
            text-transform: uppercase;

            @media screen and (max-width: 768px) {
                font-size: 35px;
            }
        }
        &--second::before{
            content: "02";
            color: #000;
            font-family: $primary-font-light;
            font-size: 44px;
            font-weight: 400;
            line-height: 48px;
            text-transform: uppercase;

            @media screen and (max-width: 768px) {
                font-size: 35px;
            }
        }
        &--third::before{
            content: "03";
            color: #000;
            font-family: $primary-font-light;
            font-size: 44px;
            font-weight: 400;
            line-height: 48px;
            text-transform: uppercase;

            @media screen and (max-width: 768px) {
                font-size: 35px;
            }
        }
        &--fourth::before{
            content: "04";
            color: #000;
            font-family: $primary-font-light;
            font-size: 44px;
            font-weight: 400;
            line-height: 48px;
            text-transform: uppercase;

            @media screen and (max-width: 768px) {
                font-size: 35px;
            }
        }
        
        @media screen and (max-width: 768px) {
            font-size: 35px;
        }
}


.content__subtitle{
    color: #000;
    font-family: $secondary-font-regular;
    font-size: 20px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

.content__line{
    width: 100%;
    height: 1px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: $secondary-bg-color;
}