.clients-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

    @media screen and (max-width: 1200px) {
        border-bottom: 1px solid #000;
        gap: 30px; 
    }

    @media screen and (max-width: 768px) {
        padding-bottom: 0;
    }
}

.clients__title{
    @include section-heading;
}

.clients-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr; 
    }
}

.clients-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;
    width: 100%;

    &:nth-child(3n+2){
        border-left: 1px solid #000;

        @media screen and (max-width: 1200px) {
            border-left: none; 
        }
    }

    &:nth-child(3n+3){
        border-left: 1px solid #000;

        @media screen and (max-width: 1200px) {
            border-left: none; 
        }
    }

    &:nth-child(-n+3){
        border-bottom: 1px solid #000;

    }

        &:not(:last-child){
    @media screen and (max-width: 1200px) {
        border-bottom: 1px solid #000; 
    }
}
@media screen and (max-width: 1200px) {
    padding: 40px 0;
}
}

.box__title{
    color: #333;
    font-family: $primary-font-regular;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 44px;
    margin-top: 0;
    margin-bottom: 0;
}

.box__text{
    color: #000;
    font-family: $secondary-font-regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.clients-info{
    display: flex;
    gap: 20px;
    align-items: center;
}

.clients-info__photo{
    border-radius: 50px;
}

.clients-info__text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

.clients-info__name{
    color: #000;
    font-family: $secondary-font-regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.clients-info__position{
    color: #000;
    font-family: $secondary-font-regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 0;
}