.contact{
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 1px solid #252525;

    @media screen and (max-width: 1200px) {
        padding-top: 30px;
        padding-bottom: 50px;
    }
}

.contact__wrapper{
    display: flex;
    gap: 40px;
    padding-top: 50px;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 0px;
    }
}

.contact__title{
    color: #333;
    font-family: $primary-font-regular;
    font-size: clamp(80px, 8.7vw,150px);
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    width: 50%;

    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}

.contact__content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    width: 50%;

    @media screen and (max-width: 1200px) {
        width: 100%;
        align-items: center;
    }
}

.content__text{
    color: #252525;
    font-family: $primary-font-bold;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.content__uder-text{
    color: #252525;
    font-family: $primary-font-medium;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}

.content__link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: #252525;
    color: #FFF;
    font-family: $primary-font-medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    width: fit-content;

    &::after{
        content: "";
        display: block;
        width: 30px;
        height: 17px;
        background-image: url(../../images/svg/arrow-right.svg);
        margin-left: 10px;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        justify-content: center;
    }
}