.section-team {
  background-color: $primary-bg-color;
  border-bottom: 1px solid $secondary-bg-color;
  padding-top: 30px;
  padding-bottom: 50px;
  @media screen and (max-width: 1200px) {
    padding-top: 30px;
  }
}

.section-team__heading {
  @include section-heading;
}

.team-list {
  @include list-reset();
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 30px;

  @media screen and (max-width: 1200px) {
    padding-top: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    row-gap: 0;
  }

}

.team-list__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (max-width: 768px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.team-list__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &--user-name {
    margin-top: 0;
    margin-bottom: 5px;
    color: #333;
    font-family: $primary-font-regular;
    font-size: clamp(21px, 1.66vw, 30px);
    font-weight: 800;
    text-transform: uppercase;
  }

  &--user-role {
    margin-top: 0;
    margin-bottom: 15px;
    color: #333;
    font-family: $primary-font-medium;
    font-size: clamp(16px, 1.33vw, 20px);
    font-weight: 400;
  }

  &--user-photo {
    display: block;
    width: 100%;
    height: auto;
  }
}

.section-team__network-list {
  @include list-reset();
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.section-team__network-link {
  text-decoration: none;

  &--image {
    width: 30px;
    height: 30px;
  }

  &--image path {
    fill: #252525;
  }
}


.item-cta {

  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  grid-area: 2 / 3 / 3 / 5;
  @media screen and (max-width: 1200px) {
    grid-area: 4 / 1 / 5/ 3;
  }
  @media screen and (max-width: 768px) {
    grid-area: unset;
    align-items: center;
  }

  &--title {
    margin-top: 0;
    margin-bottom: 0;
    color: #333;
    font-family: $primary-font-regular;
    font-size: clamp(26px, 2.15vw, 30px);
    font-weight: 400;
    text-transform: uppercase;
  }

  &--description {
    margin-top: 0;
    margin-bottom: 0;
    color: #333;
    font-family: $primary-font-bold;
    font-size: clamp(40px, 3.2vw, 64px);
    font-weight: 400;
    text-transform: uppercase;
    @media screen and (max-width: 1200px) {
      font-size: clamp(50px, 6.5vw, 64px);
    }
    @media screen and (max-width: 768px) {
      text-align: center;
      font-size: clamp(35px, 8vw, 45px);
    }
  }

  &--link {
    display: block;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 50px;
    background: $secondary-bg-color;
    color: #FFF;
    font-family: $primary-font-medium;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;

    &:after {
      content: url("../../images/svg/arrow-right.svg");
      margin-left: 10px;
      position: relative;
      top: 3px;
    }
  }
}