.section-about {
  border-bottom: 1px solid $secondary-bg-color;
}

.section-about__container {
  padding-top: 70px;
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 485px;
  grid-column-gap: 70px;
  @media screen and (max-width: 1200px){
    grid-template-columns: 1fr;
    padding: 0;
  }
}

.section-about__text {
  margin-top: 0;
  margin-bottom: 0;
  color: $primary-font-color;
  font-family: $primary-font-regular;
  font-size: clamp(36px, 2.9vw, 62px);
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  @media screen and (max-width: 1200px){
    font-size: clamp(31px, 5.33vw, 52px);
    padding: 30px;
    text-align: center;
  }
  @media screen and (max-width: 768px){
    font-size: clamp(26px, 5vw, 30px);
    padding: 30px 20px;
  }

  &--accent {
    font-weight: 800;
  }
}

.section-about__network-container {
  background-color: #252525;;
  padding: 60px 70px 60px 0;
  @media screen and (max-width: 1200px){
    padding: 40px 30px 40px 0;
  }
}

.network-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.network-container__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #FFF;
  text-align: right;
  font-family: $primary-font-medium;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 100% */
  text-transform: uppercase;
  @media screen and (max-width: 768px){
    font-size: 28px;
  }
}

.network-container__list {
  @include list-reset();
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.network-container__link {
  text-decoration: none;

  &--image {
    width: 50px;
    height: 50px;
  }
}

.section-about__logo-list {
  @include list-reset();
  border-top: 1px solid $secondary-bg-color;
  padding: 70px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  @media screen and (max-width: 1200px){
    padding: 30px 20px;
    gap: 20px;
  }
  @media screen and (max-width: 768px){
    padding: 30px 20px;
  }
}

.section-about__list-item {
  padding: 15px 40px;
  border-radius: 50px;
  background: #FFF;

  &--image {
    height: 40px;
  }
}
