.section-projects {
  background-color: $primary-bg-color;
  padding-top: 70px;
  padding-bottom: 100px;
  border-bottom: 1px solid $secondary-bg-color;
  @media screen and (max-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.section-projects__heading {
  @include section-heading();
  margin-top: 0;
  margin-bottom: 50px;
  @media screen and (max-width: 1200px){
    margin-bottom: 30px;
  }
}

.project-list {
  @include list-reset();
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 70px;
  @media screen and (max-width: 1200px){
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  @media screen and (max-width: 768px){
    row-gap: 20px;
  }
}

.project-list__item {
  position: relative;

  &:nth-child(1) {
    order: 0;
    @media screen and (max-width: 1200px){
      order: +3;
    }
  }
  &:nth-child(2) {
    order: 1;
  }
  &:nth-child(3) {
    order: 2;
  }
  &:nth-child(4) {
    order: 3;
  }
  &:nth-child(5) {
    order: 4;
  }
  &:nth-child(6) {
    order: 5;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.project-list__image {
  display: block;
  width: 100%;
  height: auto;
}

.text-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  @media screen and (max-width: 1200px){
    margin-bottom: 40px;
  }
  @media screen and (max-width: 769px){
    gap: 20px;
    margin-bottom: 20px;
  }
}

.text-item__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #000;
  font-family: $primary-font-bold;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 110% */
  text-transform: uppercase;
  @media screen and (max-width: 768px){
    font-size: 35px;
    line-height: normal;
  }
}

.text-item__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: auto;
  @media screen and (max-width: 1200px){
    margin-bottom: 10px;
  }
}

.text-item__link {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 50px;
  background: #FFF;
  color: $primary-font-color;
  font-family: $primary-font-medium;
  font-size: 18px;

  &--dark {
    background-color: $secondary-bg-color;
    color: #FFF;
    display: block;
    align-self: flex-end;

    &:after {
      content: url("../../images/svg/arrow-right.svg");
      position: relative;
      margin-left: 10px;
      width: 13px;
      height: 21px;
      top: 3px;
    }
  }
}

.project-list__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 70px;
  text-decoration: none;
  text-align: center;
  padding: 15px 60px;
  border-radius: 50px;
  background: #FFF;
  color: $primary-font-color;
  font-family: $primary-font-medium;
  font-size: 18px;

  @media screen and (max-width: 768px){
    width: 100%;
    margin-top: 40px;
  }
}